{% extends 'base.html.twig' %}

{% block title %}Projet{% endblock %}

{% block body %}
    <h1>{{ projet.name }}</h1>
    <div class="container">
        <div class="row">
            {% for tableau in projet.tableaux %}
                <div class="card col-md-4 ">
                    <div class="card-body">
                        <div class="tableau-name card-title">
                            {{ tableau.name }}
                        </div>
                        <div class="card-text">
                            {% for tache in tableau.taches %}
                                <div class="card">
                                    <div class="card-tache-name">
                                        {{ tache.name }}
                                    </div>
                                    <div class="card-tache-personne">
                                        assigné à {{ tache.assignedto }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <a href="{{ path('projet_index') }}">Back to list</a>
    <a>~</a>
    <a href="{{ path('tableau_new') }}">New Row</a>
    <a>~</a>
    <a href="{{ path('tableau_index', {'id': projet.id}) }}">Edit</a>

    {{ include('projet/_delete_form.html.twig') }}
{% endblock %}
